  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url('muskel.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }
.hall_kast {
    position: absolute;
    top: 10%;
    right: -5%;
    left: 83%;
    transform: translateX(-50%);
    background-color: rgba(170, 165, 165, 0.42);
    border-radius: 15px;
    padding: 15px;
    max-width: 70%;
    min-height: 20%;
    height: auto;
}

.tekst_kast {
    max-width: 100%;
}
.tekst_kast ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tekst_kast ul li {
  margin-bottom: 10px;
}