body {
  background-color: rgb(190, 187, 186);
}
.kast {
  border: 10px solid powderblue;
  padding: 10px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/*Navigatsiooni riba */
#navigatsioon {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  color: white;
}
/*Sisu div asetus */
#sisu {
  margin-left: 250px; /* Adjust the margin to leave space for the sidebar */
  padding: 20px;
}
/*Navigatsiooni nuppude kastid */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1a0a0;
}
/*Navigatsiooni nupud */
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}