#section1 {
    background-image: url('muskel.jpg');
}

#section2 {
    background-image: url('kalorid.jpg');
}

#section3 {
    background-image: url('toitumine2.jpg');
}

#section4 {
    background-image: url('gym.png');
}

#section5 {
    background-image: url('öö.jpg');
}

.hall_kast_treening {
    position: absolute;
    top: 5%;
    right: 40%;
    left: 35%;
    transform: translateX(-50%);
    background-color: rgba(170, 165, 165, 0.42);
    border-radius: 15px;
    padding: 15px;
    max-width: 70%;
    height: auto;
}

.hall_kast_toit {
    position: absolute;
    top: 5%;
    right: 25%;
    left: 35%;
    transform: translateX(-50%);
    background-color: rgba(170, 165, 165, 0.42);
    border-radius: 15px;
    padding: 15px;
    max-width: 70%;
    height: auto;
}


.hall_kast_llaud {
    position: absolute;
    top: 35%;
    right: 19%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(170, 165, 165, 0.42); /* Semi-transparent black overlay */
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Center the content horizontally */
    justify-content: flex-start; /* Align content to the top */
    border-radius: 15px; 
    padding: 15px; /* Optional: Add padding for better spacing */
    max-width: 70%;
    height: auto; /* Adjust height automatically based on content */
}

.background-image {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff; /* Default text color on background */
    
}

/*paneb lehe keskele teksti*/
.image-text {
    width: 100%; /* Teksti laius kastis*/
}
.toidupilt {
    position: absolute;
    top: 5%;
    right: 10%;
    width: 400px; /* Set a width for your container if needed */
    height: 380px; /* Set a height for your container if needed */
    border: solid white;
    background-image: url('näidis.webp');
    background-size: cover; /* Adjust as needed */
}