body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.background-image {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff; /* Default text color on background */
    
}

.image-overlay {
    position: absolute;
    top: 10%;
    right: -5%;
    bottom: 30%;
    left: 83%;
    background-color: rgba(170, 165, 165, 0.5); /* Semi-transparent black overlay */
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    align-items: left;
    border-radius: 10px; /* Adjust the value as needed for the desired roundness */
}

.image-text-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: left;
}

.image-text-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

.header {
    position: absolute;
    top: 5%;
    left: 90%;
    padding: 20px; /* Add padding for better visibility */
    color: #fff; /* Adjust text color based on your design */
    
}

#section1 {
    background-image: url('muskel.jpg');
}

#section2 {
    background-image: url('kalorid.jpg');
}

#section3 {
    background-image: url('toitumine2.jpg');
}

#section4 {
    background-image: url('gym.png');
}

#section5 {
    background-image: url('öö.jpg');
}

.content {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Background color for content */
    color: #fff; /* Text color for content */
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.hall_kast_treening {
    position: absolute;
    top: 10%;
    right: -50;
    bottom: -22%;
    left: 4%;
    background-color: rgba(170, 165, 165, 0.5); /* Semi-transparent black overlay */
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    border-radius: 15px; 
    align-items: flex-start;
}

.tekst_kast_treening {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    align-items: left;
}